*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: rgb(80, 80, 80);
  text-align: center;
  color: white;
  align-items: center;
}

.button {
  align-items: center;
  background-color: rgba(247, 247, 247, 0);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: default;
  opacity: 0.5;
  transition-duration: 0.5s;
}

.button:hover{
  background-color: white;
  color: black;
  border: 2px solid white;
  cursor: default;
  opacity: 1;
}

.form {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
  }