<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="{{url_for('static', filename='js/script.js')}}"></script>

</head>
<body>
  <div class="container">

    <br><br>
    <h1>My Coffe House<h1>

    <br><br>
<button type="button" onclick="location.href='signuppage'" class="button">회원가입</button>
<button type="button" onclick="location.href='signinpage'" class="button">로그인</button>
</div>
</body>
</html>
