<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>

<body>

  <h3>회원가입</h3>
  <br>
  <label for="name"><b>이름</b></label><br>
  <input type="text" id="name" name="name" value="이름test" placeholder="이름" required>

  <label for="id"><b>아이디</b></label><br>
  <input type="text" id="id" name="id" value="test" placeholder="아이디" required>

  <br>
  <label for="pw"><b>비밀번호</b></label><br>
  <input type="password" id="pw" name="pw" value="123" placeholder="비밀번호" required>

  <br>
  <label for="pwCheck"><b>비밀번호확인</b></label><br>
  <input type="password" id="pwCheck" name="pwCheck" value="123" placeholder="비밀번호확인" required>

  <br>
  <label for="email"><b>이메일</b></label><br>
  <input type="text" id="email" name="email" value="test@naver.com" placeholder="이메일주소" required>

  <br>
  <button type="submit" onclick="createuser()">가입완료</button>
  <button type="button" onclick="location.href='/'" class="cancelbtn">취소</button>


  <script>

    function createuser() {
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          msg = JSON.parse(this.responseText)
          alert(msg.result)
        };
      }
      xhttp.open("post", "signup");  
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      queryString = 'id=' + document.getElementById("id").value
        + '&pw=' + document.getElementById("pw").value
        + '&name=' + document.getElementById("name").value
        + '&email=' + document.getElementById("email").value;

      xhttp.send(queryString); 
    }

  </script>

</body>

</html>