<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>

<h1>Main에 오신것을 환영합니다</h1>
<h2>원하는 메뉴를 선택하세요</h2>

<form>
  <h3>메뉴</h3>
  <div id="menuname">Cafe De Olla (Sweet Mexico Coffee)</div><br>
  <div id="menuprice">8000원</div><br>
  <div id="menuinfo">팟에 계피와 설탕으로 끓인 전통적인 멕시코 <br> 
    커피로 특별한 풍미가 전해집니다. </div><br>
  <label for="orderquantity">수량</label>
  <input type="number" id="orderquantity" name="orderquantity" min="0" max="">
  <button type="submit" class="button" id="insertorder" onclick=>추가</button>
  <button type="submit" class="button" id="updateorder" onclick=>변경</button><br>
</form>

<br>
<button type="submit" class="button" id="select" onclick=>선택</button>
<button type="submit" class="button" id="cancel" onclick=>취소</button><br>
<br>

<h3>메뉴</h3>
<div id="menuname">Café Toba Mist (Toba Mist Coffee)</div><br>
<div id="menuprice">7000원</div><br>
<div id="menuinfo">수마트라 섬 해발 약 1,200m의 토바 호수 <br>
  가장자리에서 재배하는 이 특별한 커피는 <br>
  세미 워싱 프로세스를 통해 꽃향과 시트러스,<br>
  다크 초콜릿, 부드러운 향신료 향이 납니다</div><br>
<label for="orderquantity">수량</label>
<input type="number" id="orderquantity" name="orderquantity" min="0" max="">
<button type="submit" class="button" id="insertorder" onclick=>추가</button>
<button type="submit" class="button" id="updateorder" onclick=>변경</button><br>
</form>

<br>
<button type="submit" class="button" id="select" onclick=>선택</button>
<button type="submit" class="button" id="cancel" onclick=>취소</button><br>
<br>


<h3>메뉴</h3>
  <div id="menuname">Coffee in Venice</div><br>
  <div id="menuprice">5000원</div><br>
  <div id="menuinfo">크림과 오렌지 향이 가득한 따듯한 커피가 <br>
    반짝이는 베네치아의 축제의 추억을 선사합니다.</div><br>
  <label for="orderquantity">수량</label>
  <input type="number" id="orderquantity" name="orderquantity" min="0" max="">
  <button type="submit" class="button" id="insertorder" onclick=>추가</button>
  <button type="submit" class="button" id="updateorder" onclick=>변경</button><br>
</form>

<br>
<button type="submit" class="button" id="select" onclick=>선택</button>
<button type="submit" class="button" id="cancel" onclick=>취소</button><br>
<br>


<h3>메뉴</h3>
  <div id="menuname">Sidamo Mountain Coffee</div><br>
  <div id="menuprice">6000원</div><br>
  <div id="menuinfo">에티오피아 고원 가장자리의 남쪽에 위치한 <br>
    Sidamo 지역에서 생산된 커피로 인상적인<br>
    다양한 풍미를 선사합니다. 매콤하고 향긋한 향과<br>
    전신에 금이 간 코코아 콩의 향이 풍부합니다</div><br>
  <label for="orderquantity">수량</label>
  <input type="number" id="orderquantity" name="orderquantity" min="0" max="">
  <button type="submit" class="button" id="insertorder" onclick=>추가</button>
  <button type="submit" class="button" id="updateorder" onclick=>변경</button><br>
</form>

<br>
<button type="submit" class="button" id="select" onclick=>선택</button>
<button type="submit" class="button" id="cancel" onclick=>취소</button><br>
<br>




<br>
<button type="button" class="button" id="signoff" onclick=>로그아웃</button>
<button type="button" class="button" id="userinfo" onclick=>회원정보</button>

</body>
</html>
