<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SelectCheck</title>
</head>
<body>

<h2>주문내역을 확인하세요</h2>

<form>
  <h3>주문목록</h3>
  <div id="menuName">메뉴</div>
  <div id="menuPrice">가격</div>
  <label for="quantity">수량</label>
  <input type="number" id="quantity" name="quantity" min="0" max="">
  <button type="button" class="button" id="updateorder" onclick=>변경</button>
  <button type="button" class="button" id="deleteorder" onclick=>제거</button><br><br>
</form>

<div id="totalPrice">결제금액</div>

<button type="submit" class="button" id="order" onclick=>주문</button>
<button type="submit" class="button" id="cancel" onclick=>취소</button><br>

<br>
<button type="button" class="button" id="signoff" onclick=>로그아웃</button>
<button type="button" class="button" id="userinfo" onclick=>회원정보</button>

</body>
</html>
