<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SelectCheck</title>
</head>

<body>

  <h2>주문내역을 확인하세요</h2>

  <form>
    <h3>주문목록</h3>
    <div id="menuname">메뉴</div>
    <div id="menuprice">가격</div>
    <label for="quantity">수량</label>
    <input type="number" id="quantity" name="quantity" min="0" max="">
    <button type="button" class="button" id="updateorder" onclick=>변경</button>
    <button type="button" class="button" id="deleteorder" onclick=>제거</button><br><br>
  </form>

  <div id="totalPrice">결제금액</div>

  <button type="button" class="button" id="order" onclick="orderFin()">주문</button>
  <button type="button" class="button" id="cancel" onclick="history.back()">취소</button><br>

  <br>
  <button type="button" class="button" id="signoff" onclick="location.href='/logout'">로그아웃</button>
  <button type="button" class="button" id="userinfo" onclick=>회원정보</button>
  <script>
    function orderFin() {
      if (localStorage.getItem("access_token") == null) {
        alert("로그인 상태가 아닙니다. 로그인을 다시 해주세요.")
        location.href = "signinpage"
        return ""
      }
      authorize()
      
    }
  </script>
</body>

</html>