<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrderCheck</title>
</head>
<body>

<h2>주문이 완료되었습니다</h2>
<h3>주문내역</h3>
<div id="orderlist"></div><br>

<br>
<button type="button" class="button" id="cancel" onclick=>확인</button><br>

<br>
<button type="button" class="button" id="signoff" onclick=>로그아웃</button>
<button type="button" class="button" id="userinfo" onclick=>회원정보</button>

</body>
</html>
